# Практика 6

Каждый вопрос 1.1 балла, максимум 11 баллов — в ведомость идет 10.

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

import pandas as pd

data = pd.read_csv("https://raw.githubusercontent.com/rogovich/Data/master/data/pima-indians-diabetes.csv")
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Class
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,1,89.0,66.0,23.0,94.0,28.1,0.167,21,0
4,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1

Описание данных:

* Pregnancies - данная единица отображает количество беременностей, единицы измерения - целые числа от 0 до N. Тип переменной - количественная, дискретная.
* Glucose - данная единица отображает уровень глюкозы в крови, единицы измерения - целые числа. Тип переменной - количественная, дискретная.
* BloodPressure - данная единица отображает артериальное давление, единицы измерения - миллиметры р/с, целые числа. Тип переменной - количественная, дискретная.
* SkinThickness - данная единица отображает обхват трицепса в миллиметрах, целые числа. Тип переменной - количественная, дискретная.
* Insulin - данная единица отображает уровень инсулина в крови, целые числа. Тип переменной - количественная, дискретная.
* BMI - данная единица отображает индекс массы тела. Тип переменной - количественная, непрерывная.
* DiabetesPedigreeFunction - данная единица отображает риск наследственного диабета в зависимости наличия диабета у родственников. Выражается десятичной дробью от 0 до 1. Тип переменной - количественная, непрерывная.
* Age - данная единица отражает возраст в целых числах. Тип переменной - количественная, дискретная.
* Class - данная единица отражает наличие диабета у субъекта, выражена 0(здоров) или 1(болен). Тип переменной - категориальная, бинарная.

1. Проверьте в каких колонках есть отсутствующие значения и отфильтруйте в переменную `data_filtered` только колонки, в которых нет пропущенных значений или пропущено менее 50 значений.

In [1]:
# ваш код здесь

2. Из `data_filtered` удалите все ряды с оставшимися пропущенными значениями с помощью метода `.dropna()`. Если вы не сделали предыдущий шаг, то удалите все ряды с пропущенными значениями из `data`. Сохраните результат в `data_filtered`. У вас должен получиться датафрейм без пропущенных значений.

In [2]:
# ваш код здесь

3. Работаем с `data_filtered`. Сохраните в переменную `y` колонку `Class`. Сохраните в переменную `X` весь датафрейм без колонки `Class`.

In [3]:
# ваш код здесь

4. С помощью функции `train_test_split` закончите код ниже. Передайте ей в качестве аргументов переменные `X`, `y`. `test_size` задайте 0.25

Напечатайте `.shape` для каждого из четырех новых объектов.

In [ ]:
X_train, X_test, y_train, y_test = # ваш код здесь

In [5]:
# ваш код здесь

5. 
* Инициируйте модель `KNeighborsClassifier`. 
* Обучите модель на тренировочных данных с помощью метода `.fit()`.

In [6]:
# ваш код здесь

6. Предскажите значения целевой переменной для **тренировочной выборки** и сохраните в переменную `pred_train`.

In [7]:
# ваш код здесь

7. Закончите код ниже, чтобы вручную посчитать `accuracy` вашего предсказания

In [ ]:
cnt = 0
y_train_list = list(y_train) # истинное значение
for i in range(len(y_train_list)):
    # ваш код здесь — нужно сравнить каждое истинное значение с предсказанным из pred_train
        # ваш код здесь — нужно обновить счетчик правильно предсказанных значений

print(cnt / len(y_train_list)) # считаем accuracy

0.8095238095238095

8. Теперь найдите accuracay с помощью функции `accuracy_score`. Значения в этом и предыдущем задании должны совпадать.

In [8]:
# ваш код здесь

9. 
* Предскажите значения для тестовой выборки. 
* Найдите accuracy с помощью функции для тестовой выборки.

In [9]:
# ваш код здесь

10. Кратко своими словами напишите, как вы понимаете, почему качество предсказания для тренировочной выборки выше, чем для тестовой выборки.

*ваш ответ здесь*