# Самостоятельная работа 7

Максимум 11 баллов, в ведомость идет 10.

In [81]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

titanic = pd.read_csv('https://raw.githubusercontent.com/rogovich/Data/master/data/titanic/train.csv')
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# Задание 1 (1 балл)
Сохраните в переменную `y` колонку `Survived` (нашу целевую переменную), а в переменную `X` сохраните колонки `Pclass`, `Fare`, `SibSp`, `Parch`, `Sex`

In [82]:
y = titanic['Survived']
X = titanic[['Pclass', 'Fare', 'SibSp', 'Parch', 'Sex']]

# Задание 2 (1 балл)
Перекодируйте переменную `Sex` в числовую — 1 для значений `male` и 0 для значений `female`. Перезапишите колонку `Sex` в `X`

In [83]:
X['Sex'] = X['Sex'].apply(lambda x: 1 if x == 'male' else 0)

<ipython-input-83-831c150465d1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Sex'] = X['Sex'].apply(lambda x: 1 if x == 'male' else 0)

# Задание 3 (1 балл)
Разбейте `X` и `y` на тренировочную и тестовую выборки. Установите размер `test_size` равным 0.33

In [91]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33)

# Задание 4 (1 балл)

Сделайте предсказание **для тренировочной выборки**, что выжили только женщины (`Sex`) путешествовали в 1-м классе (`Pclass`). У вас должен получиться вектор из 1 и 0. Сохраните получившийся результат в переменную `my_prediction_train`

In [92]:
my_prediction_train = np.where((X_train['Pclass'] == 1) & (X_train['Sex'] == 0), 1, 0)

# Задание 5 (1 балл)
C помощью импортированной функции высчитайте`accuracy_score` для вашего предсказания, сравнив получившийся результат со значениями целевой переменной для тренировочной выборки.

In [93]:
accuracy_score(my_prediction_train, y_train)

0.7080536912751678

# Задание 6 (1 балл)

Сделайте предсказание **для тестовой выборки**, что выжили только женщины (`Sex`) путешествовали в 1-м классе (`Pclass`). У вас должен получиться вектор из 1 и 0. Сохраните получившийся результат в переменную `my_prediction_test`

In [94]:
my_prediction_test = np.where((X_test['Pclass'] == 1) & (X_test['Sex'] == 0), 1, 0)

# Задание 7 (1 балл)
C помощью импортированной функции высчитайте`accuracy_score` для вашего предсказания, сравнив получившийся результат со значениями целевой переменной для тестовой выборки.

In [88]:
accuracy_score(my_prediction_test, y_test)

0.6983050847457627

# Задание 8 (2 балла)
Будем определять модель и смотреть качество предсказания с разными значениями параметра `max_depth` — 1, 5, 10, 50
В цикле:
* Инициализируйте модель `DecisionTreeClassifier` (уже импортирована) c заданным параметром `max_depth`
* Обучите модель на **тренировочной выборке**.
* Предскажите целевую переменную на **тренировочной выборке**
* Напечатайте долю правильный ответов.

Если не знаете, как сделать перебор — определите модель с параметрами по умолчанию, обучите и проверьте качество предсказания на тренировочной выборке (1 балл за задание).

In [89]:
for value in [1, 5, 10, 50]:
    model = DecisionTreeClassifier(max_depth=value)
    model.fit(X_train, y_train)
    print(accuracy_score(y_train, model.predict(X_train)))

0.7919463087248322
0.8456375838926175
0.8976510067114094
0.9312080536912751

# Задание 9 (1 балл) 
Выберите значение параметра `max_depth`, которое показало лучшее качество в предыдущем вопросе. Инициализируйте заново модель, обучите ее на тренировочных данных и сделайте предсказание для тестовых. Найдите долю правильных ответов.

Если вы не сделали предыдущее задание, то сделайте все то же самое с моделью, у которой `max_depth` равен 100.

In [90]:
model = DecisionTreeClassifier(max_depth=50)
model.fit(X_train, y_train)
(accuracy_score(y_test, model.predict(X_test)))

0.8